services:
  postgres:
    image: postgres:16
    container_name: aira_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-rag_engine}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - aira_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: aira_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - aira_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  qdrant:
    image: qdrant/qdrant:latest
    container_name: aira_qdrant
    ports:
      - "6333:6333"        # REST API
      - "6334:6334"        # gRPC
    volumes:
      - qdrant_storage:/qdrant/storage
    networks:
      - aira_network
  
    
  backend:
    # container_name: aira_backend
    build: ./backend
    # ports:
    #   - "8000:8000"
    env_file:
      - .env
    deploy:
      replicas: 3
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    networks:
      - aira_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - aira_network

  celery_worker:
    container_name: aira_celery_worker
    build: ./backend
    restart: always
    env_file:
      - .env
    volumes:
      - ./backend:/app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      
    command: celery -A app.services.celery_worker worker --loglevel=info --autoscale=10,3 --concurrency=4
    networks:
      - aira_network

  flower:
    container_name: aira_flower
    image: mher/flower
    command: celery --broker=${redis_url} flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      celery_worker:
        condition: service_started
      redis: 
        condition: service_healthy
    networks:
      - aira_network

volumes:
  qdrant_storage:
  postgres_data:
  redis_data:

networks:
  aira_network:
    driver: bridge